body {
  font-family: sans-serif;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#rollBtn {
  position: relative;
  cursor: pointer;
  z-index: 2;
}